@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
    background-color: gray;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

*{
    background-color: palegoldenrod;
}

#gameOutline {
    border : 1px solid orange;
}